<header class="md-header" data-md-component="header">
  <nav class="md-header-nav md-grid">
    <div class="md-flex">
      <div class="md-flex__cell md-flex__cell--shrink" id="md-ai2-logo">
        <a href="http://allenai.org/" title="Allen Institute for Artificial Intelligence" class="md-logo" target="_blank">
          <img src="{{ base_url }}/assets/images/ai2-just-bulb.png" height="40" width="53.2">
        </a>
      </div>
      <div class="md-flex__cell md-flex__cell--shrink">
        <label class="md-icon md-icon--menu md-header-nav__button" for="drawer"></label>
      </div>
      <div class="md-flex__cell md-flex__cell--stretch">
        <span class="md-flex__ellipsis md-header-nav__title">
          {% block site_name %}
            {% if page %}
              {% for parent in page.ancestors %}
                <span class="md-header-nav__parent">
                  {{ parent.title }}
                </span>
              {% endfor %}
            {% endif %}
            {{ page.title | default(config.site_name, true) }}
          {% endblock %}
        </span>
      </div>
      <div class="md-flex__cell md-flex__cell--shrink">
        {% block search_box %}
          <label class="md-icon md-icon--search md-header-nav__button" for="search"></label>
          {% include "partials/search.html" %}
        {% endblock %}
      </div>
      <div class="md-flex__cell md-flex__cell--shrink" style="vertical-align:middle">
        <div class="md-header-nav__source">
          {% if config.download_url %}
            <a href="{{config.download_url}}" download class="md-header-nav__download">
              DOWNLOAD
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</header>
